<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get-it</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="templates/getit.css" />
  </head>

  <body>
    <div class="appbar">
      <img src="img/logo-getit.png" class="logo" />
      <button class="dark-btn" onclick="darkMode()">
        <img src="img/dark16.png" class="moon"/>
      </button>
    </div>

    <main class="container">
      <div class="forms-container">
        <form id="form-card-id" class="form-card" method="post" onsubmit="return validateCreateForm()" required>
          <div class="form-title">
            <h2 class="form-title-text">Criar nota</h2>
          </div>
          <input
            class="form-card-title"
            type="text"
            name="titulo"
            placeholder="Titulo"
          />
          <textarea
            class="autoresize"
            name="detalhes"
            placeholder="Digite o conteudo..."
          ></textarea>
          <button class="btn" type="submit">Criar</button>
        </form>
      </div>
      <div class="card-container">
        {notes}
      </div>
    </main>
    <script type="text/javascript" src="templates/getit.js"></script> 
    <script type="text/javascript" src="templates/script.js"></script>
    <script type="text/javascript" src="templates/darkmode.js"></script>
  </body>
</html>
